<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>VUE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/estilos.css" />
    <!--script src="https://unpkg.com/axios@1.13.2/dist/axios.min.js"></script-->
</head>

<body>
    <header class="bg-success text-center text-white">
        <span class="h2">VUE</span>
    </header>

    <section class="container-fluid text-center" id="contenedor">
        <div class="row">
            <h2 class="col-12 text-white">Usuarios</h2>
            <div id="tarjetas" class="card col-2 p-3 mt-3 bg-secondary" v-for="personaje in personajesFiltrados" :key="personaje.id" class="col-md-6 offset-md-3">
                <img class="card-img-top" :src="personaje.image" :title="personaje.name">
                <div class="card-body btn-dark">
                    <h5>{{personaje.name}}</h5>
                    <p>{{personaje.ki}}</p>
                    <h5>Raza: {{personaje.race}}</h5>
                    <button class="btn btn-success" @click="mostrarDescripcion(personaje)">Ver más..-</button>
                </div>
            </div>
        </div>

        <div class="card col-4 offset-4 mt-4" v-if="personajeSeleccionado">
            <div class="card-body text-center">
                <h4>{{personajeSeleccionado.name}}</h4>
                <img class="img-fluid bg-secondary" :src="personajeSeleccionado.image" :title="personajeSeleccionado.name">
                <p class="mt-3">
                    <strong>Descripción:</strong>
                    {{personajeSeleccionado.description}}
                </p>
                <button class="btn btn-success" @click="ocultarDescripcion">Regresar</button>
            </div>
        </div>
        <div class="bg-dark text-center tex-white mt-3">
            <div class="container d-flex justify-content-between pt-3">
                <button class="btn filter-btn" @click="filtrarCategoria('Saiyan')">Saiyan</button>
                <button class="btn filter-btn" @click="filtrarCategoria('Human')">Human</button>
                <button class="btn filter-btn" @click="filtrarCategoria('Namekian')">Namekian</button>
                <button class="btn filter-btn" @click="filtrarCategoria('Android')">Android</button>
                <button class="btn filter-btn" @click="filtrarCategoria('Frieza Race')">Frieza Race</button>
            </div>
            <div class="bg-dark text-center text-white mt-3">
            <span class="h2">Frameworks</span>
        </div>
        </div>
        
    </section>
    <script src="js/vue3.js"></script> <!--En orden 1-->
    <script src="js/axios.min.js"></script> <!--2-->
    <!--https://github.com/axios/axios-->
    <script src="js/funciones.js"></script> <!--3-->
</body>

</html>